[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdownify = "==0.13.1"
pandas = "==2.2.2"
python-dateutil = "==2.9.0.post0"

[dev-packages]
pylint = "*"
yapf = "*"

[requires]
# debian_converter uses python3 from alpine-3.18, which is 3.11
python_version = "3.11"
